<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="#">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <title>detail</title>
</head>
<body>

<!-- Board Detail Start -->
<div class="board-detail">
    <h3>자유게시판</h3>
    <div>
        <table th:border="1">
            <tr>
                <th>제목</th>
                <td><h3 th:text="${board.title}"></h3></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td><a th:text="${board.author}"></a></td>
            </tr>
            <tr>
                <th>작성일</th>
                <td><a th:text="${board.createdDate}"></a></td>
            </tr>
            <tr>
                <th>조회수</th>
                <td><a th:text="${board.views}"></a></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><p th:text="${board.content}"></p></td>
            </tr>
        </table>
    </div>
    <div th:if="${session.loginMember != null}">
        <th th:if="${session.loginMember.id == board.member.id}">
            <table>
                <td>
                    <form class="col" role="form" th:action="@{/boards/update/{id} (id=${board.id})}" method="get">
                        <button type="submit">게시글 수정</button>
                    </form>
                </td>
                <td>
                    <form class="col" role="form" th:action="@{/boards/delete/{id} (id=${board.id})}" method="post">
                        <button type="submit">게시글 삭제</button>
                    </form>
                </td>
            </table>
        </th>
    </div>
</div>
<!-- Board Detail End -->

<!-- Comment Start -->
<div class="comment">
    <div class="comment-body">
        <table th:if="${!comments.isEmpty()}">
            <thead>
            <tr>
                <th>작성자</th>
                <th>내용</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${comments}">
                <td th:text="${comment.author}"></td>
                <td th:text="${comment.content}"></td>
                <div th:if="${session.loginMember != null}">
                    <td th:if="${session.loginMember.id == comment.member.id}">
                        <button id="comment-update">수정</button>
                    </td>
                    <td th:if="${session.loginMember.id == comment.member.id}">
                        <button id="comment-delete" th:onclick="deleteComment([[${comment.id}]])">삭제</button>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${session.loginMember != null}">
        <div class="comment-input-body">
            <input hidden id="board-id" th:value="${board.id}">
            <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
        </div>
        <button id="comment-submit" type="submit">등록</button>
    </div>
</div>
<!-- Comment End -->

<div>
    <button th:onclick="|location.href='@{../../boards/home}'|">목록</button>
</div>
</body>
<script type="text/javascript">
    $("#comment-submit").click(function () {
        let comment = {
            content: $("#comment").val(),
            boardId: $("#board-id").val()
        }
        if (confirm("댓글을 등록하시겠습니까?") === true) {
            $.ajax({
                type: "post",
                async: false,
                url: "/comments/commentAdd/" + comment.boardId,
                data: comment,
                success: function (data) {
                    if (data === 1) {
                        alert("댓글 저장 완료!");
                        window.location.reload();
                    } else if (data === 2) {
                        alert("댓글 길이는 1 ~ 100자 이내여야 합니다.");
                    }
                },
                error: function () {
                    alert("서버 에러!");
                },
            });
        } else {
            return false;
        }
    });
</script>
</html>